<?xml version="1.0"?>
<config>
    <modules>
        <Paykun_Pcheckout>
            <version>0.1.6</version>
        </Paykun_Pcheckout>
    </modules>
    <global>
        <blocks>
            <pcheckout>
                <class>Paykun_Pcheckout_Block</class>
            </pcheckout>
        </blocks>
        <models>
            <pcheckout>
                <class>Paykun_Pcheckout_Model</class>
            </pcheckout>
        </models>
        <resources>
            <pcheckout_setup>
                <setup>
                    <module>Paykun_Pcheckout</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </pcheckout_setup>
            <pcheckout_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </pcheckout_write>
            <pcheckout_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </pcheckout_read>
        </resources>
        <helpers>
            <paykun>
                <class>Paykun_Pcheckout_Helper</class>
            </paykun>
        </helpers>
    </global>
    <default>
        <payment>
            <pcheckout>
                <active>1</active>
                <model>pcheckout/PaymentMethod</model>
                <order_status>pending</order_status>
                <title>Pay via Cards/Net-Banking/UPI/Wallets/QR Code with PayKun</title>
            </pcheckout>
        </payment>
    </default>
    <frontend>
        <routers>
            <pcheckout>
                <use>standard</use>
                <args>
                    <module>Paykun_Pcheckout</module>
                    <frontName>pkcheckout</frontName>
                </args>
            </pcheckout>
        </routers>
    </frontend>
</config> 